<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Odontologos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/shards.min.css">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/js/post_dentist.js"></script>
</head>
<body class="bg-dark">
<nav class="nav nav-pills nav-fill p-3">
  <a class="nav-link" th:href="@{/home}">Volver</a>
  <a class="nav-link" th:href="@{/odontologos}">Odontologos</a>
  <a class="nav-link" href="/logout">Cerrar sesión</a>
</nav>
<div class="container p-3">
  <h2 class="h2 p-3 text-white">Cargar Odontologo</h2>
  <form>
    <div class="mb-3">
      <label class="text-white" for="lastName">Apellido</label>
      <input id="lastName" type="text" class="form-control">
      <div id="lastNameError" class="alert alert-danger d-none mt-3">
        Por favor, ingresa un apellido
      </div>
    </div>

    <div class="mb-3">
      <label class="text-white" for="firstName">Nombre</label>
      <input id="firstName" type="text" class="form-control">
      <div id="firstNameError" class="alert alert-danger d-none mt-3">
        Por favor, ingresa un nombre
      </div>
    </div>

    <div class="mb-3">
      <label class="text-white" for="licence">Matricula</label>
      <input id="licence" type="text" class="form-control">
      <div id="licenceError" class="alert alert-danger d-none mt-3">
        Por favor, ingresa una matricula
      </div>
    </div>

    <button class="btn btn-primary" type="submit" onclick="save()">GUARDAR</button>

  </form>
</div>


</body>
</html>